<config>
    <router name="">
        <hostname>bluebottle.local</hostname>
        <port>46290</port>
        <ssid></ssid>
        <password></password>
        <setup>true</setup>
    </router>
    <devices>
        <device id="22FAA7">
            <version>2</version>
            <manufacturer>getCoffee() Inc.</manufacturer>
            <type>
                <core>mac</core>
                <modifier>bluebottle</modifier>
            </type>
            <stack>wifi</stack>
            <address>localhost</address>
            <port>9726</port>
        </device>
    </devices>
</config>